$color-black: #000;
$color-white: #fff;
$color-smoke: #a9a9a9;
$color-dark: #32425c;
$color-accent: #ffd180;
$color-red: #ee3643;
$color-red-static: #ee3643;
$bg-dark-first: #293449;
$bg-dark-static: #32425c;
$bg-dark-hover: #212a3a;
$bg-dark-active: #161d29;
$bg-dark-secondary: #32425c;
$bg-social-static: #212a3a;
$bg-social-hover: #ee3643;
$bg-social-active: #ba2732;
$bg-light-first: #f4f8f9;
$bg-light-second: #f9f5f0;
$bg-white: #fff;
$bg-blue: #3bbce3;
$bg-green: #8ed78f;
$bg-green-static: #63a63e;
$bg-green-hover: #5fbb2d;
$bg-green-active: #518534; 
$bg-yellow: #ffbf47;
$bg-red: #ee3643;
$bg-red-static: #ee3643;
$bg-red-hover: #ca2c37;
$bg-red-active: #ba2732;
$bg-purple: #dc91d8;
$border-light: #eaeaea;
$border-dark: #e5e5e5;
$shadow-green: #367315;
$bg-input-static: #dee3e4;
$bg-input-hover: #b5b5b5;
$bg-input-focus: #ee3643;

// media
$mobile-width: 767px;
$tablet-width: 1079px;
$desktop-width: 1200px;

$resolution-dppx-2x: 1.25dppx;
$resolution-dppx-3x: 2.25dppx;
$resolution-dpi-2x: 120dpi;
$resolution-dpi-3x: 216dpi;
