.page-main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 85px;
}

.page-main__category {
  margin-top: 60px;
}

.page-main__popular {
  margin-top: 50px;
}

.page-main__brands {
  margin-top: 20px;
}

.page-main__services {
  margin-top: 85px;
  background-color: $bg-light-first;
}

.page-main__info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 75px;
}

@media(max-width: $tablet-width){
  .page-main__category {
    margin-top: 30px;
  }

  .page-main__popular {
    margin-top: 30px;
  }

  .page-main__brands {
    margin-top: 30px;
  }

  .page-main__services {
    margin-top: 30px;
  }
}

@media(max-width: $mobile-width){
  .page-main__category {
    margin: 0;
  }
}
