.nav-pages {
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 25px;
  background-color: $bg-dark-secondary;
}

.nav-pages__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-pages__link {
  font-size: 17px;
  color: $color-white;
  text-align: center;
  transition: all 0.3s;
}

.nav-pages--header .nav-pages__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 19px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: $bg-dark-static;

  &:hover, &:focus {
    background-color: $bg-dark-hover;
  }

  &:active {
    color: rgba($color-white, 0.5);
    background-color: $bg-dark-active;
  }
}

.nav-pages--footer {
  width: 100%;
  max-width: 550px;
  padding: 0;
}

.nav-pages--footer .nav-pages__link {
  font-size: 18px;
  line-height: 24px;
  &:hover, &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }
}

@media(max-width: $tablet-width){
  .nav-pages--header {
    padding: 0;
  }

  .nav-pages--header .nav-pages__link {
    padding: 15px;
  }
}
