.nav-category {
  width: 100%;
  max-width: 525px;
}

.nav-category__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-category__item {
  margin-right: 59px;
  &:last-child {
    margin-right: 0;
  }
}

.nav-category__link {
  font-size: 18px;
  line-height: 24px;
  color: $color-accent;
  outline: none;
  transition: all 0.3s;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }
}
