.checkbox__input:not(:focus):not(active),
input[type="checkbox"].checkbox__input {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.checkbox__input + .checkbox__label {
  position: relative;
  padding-left: 35px;
  @include font-family('PT Sans');
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $color-black;
  cursor: pointer;

  &::before, &::after {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    display: block;
    height: 23px;
    background-repeat: no-repeat;
    content: '';
    opacity: 0.7;
    transition: all 0.3s;
  }

  &::before {
    width: 23px;
    background-image: url('../img/checkbox-off.svg');
  }

  &::after {
    display: none;
    width: 27px;
    background-image: url('../img/checkbox-on.svg');
  }

  &:hover {
    &::after, &::before {
      opacity: 1;
    } 
  }

  &:active {
    &::after, &::before {
      opacity: 0.3;
    } 
  }
}

.checkbox__input:focus + .checkbox__label{
  &::after, &::before {
    opacity: 1;
  }
}

.checkbox__input:active + .checkbox__label{
  &::after, &::before {
    opacity: 0.3;
  }
}

.checkbox__input:checked + .checkbox__label{
  &::before {
    display: none;
  }

  &::after {
    display: block;
  }
}
