.textarea, .textarea::placeholder {
 @include font-family('PT Sans');
 font-size: 13px;
 line-height: 18px;
}

.textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: 460px;
  height: 114px;
  padding: 8px 15px;
  background-color: $bg-white;
  border: 2px solid $bg-input-static;
  color: $color-dark;
  resize: none;
  outline: none;

  &:hover {
    border: 2px solid $bg-input-hover;
  }

  &:focus {
    border: 2px solid $bg-input-focus;
  }
}

.input::placeholder {
  color: $color-smoke;
}
