.breadcrumbs__list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs__item {
  margin-right: 15px;
}

.breadcrumbs__item + .breadcrumbs__item {
  display: flex;
  align-items: center;

  &::before {
    display: block;
    width: 8px;
    height: 12px;
    margin-right: 20px;
    background-image: url('../../img/icon-right-small.svg');
    background-repeat: no-repeat;
    content: '';
  }
}

.breadcrumbs__link {
  @include font-family('PT Sans');
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-black;
  outline: none;
  transition: all 0.3s;

  &:hover, &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

.breadcrumbs__item--home .breadcrumbs__link {
  display: block;
  width: 14px;
  height: 12px;
  background-image: url('../../img/icon-home.svg');
  background-repeat: no-repeat;
  opacity: 0.3;

  &:hover, &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.7;
  }
}
