.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 25px;
  background-color: $bg-light-second;
}

.header-box__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  color: $color-dark;
  text-transform: uppercase;
}

.header-box--blue-light {
  background-color: $bg-blue-light;
}

@media(max-width: $tablet-width){
  .header-box {
    box-sizing: border-box;
    max-width: 620px;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-box__title {
    font-size: 28px;
  }
}

@media(max-width: $mobile-width){
  .header-box {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: center;
  }

  .header-box__title {
    font-size: 22px;
  }

  .header-box__btn {
    margin: 10px auto 0;
  }
}
