.popular__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

@media(max-width: $tablet-width) {
  .popular {
    max-width: 620px;
    margin: 0 auto;
  }

  .popular__list {
    justify-content: space-evenly;
  }
}
