.products__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  margin-top: 18px;
  margin-left: 20px;
}

@media(max-width: $tablet-width){
  .products__list {
    margin-top: 18px;
    gap: 20px;
  }

  .products__item {
    margin: 0;
  }
}

@media(max-width: $tablet-width){
  .products__list {
    margin-top: 0;
    display: block;
  }
  
  .products__item {
    display: inline-block;
    margin-left: 15px;
    margin-top: 15px;
  }
}
