.services {
  padding-top: 55px;
}
.services__title {
  margin: 0;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.services__desc {
  width: 100%;
  max-width: 400px;
  margin: 0;
  margin-top: 20px;
  @include font-family('PT Sans');
  font-size: 13px;
  line-height: 24px;
}

.services__tabs {
  margin-top: 20px;
}

@media(max-width: $tablet-width){
  .services {
    padding-top: 30px;
  }

  .services__title {
    max-width: 620px;
    margin: 0 auto;
  }

  .services__desc {
    max-width: 620px;
    margin: 20px auto 0;
  }

  .services__tabs {
    padding-top: 10px;
  }
}

@media(max-width: $mobile-width){
  .services__title {
    max-width: 400px;
    margin: 0 auto;
    font-size: 28px;
  }

  .services__desc {
    max-width: 400px;
    margin: 15px auto 0;
  }

  .services__tabs {
    margin-top: 40px;
  }
}
