.footer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__box {
  &--top {
    padding-bottom: 47px;
    background-color: $bg-dark-secondary;
  }

  &--bottom {
    padding-bottom: 16px;
    background-color: $bg-dark-first;
  }
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.footer__contacts {
  margin-top: 30px;
  order: 2;
}

.footer__nav-pages {
  margin-top: 35px;
  order: 1;
}

.footer__nav-category {
  margin-top: 30px;
  order: 3;
}

.footer__address, .footer__phone {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: $color-white; 
}

.footer__copyright {
  flex-basis: 265px;
  margin-top: 40px;
  font-size: 16px;
  line-height: 18px;
  color: $color-white;
}

.footer__social {
  margin-top: 40px;
}

.footer__text-wrap {
  flex-basis: 280px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 15px;
}

.footer__text {
  margin-top: 40px;
}

.footer__text, .footer__link {
  font-size: 16px;
  line-height: 18px;
  color: $color-white;
}

.footer__link {
  color: $color-accent;
  outline: none;
  transition: all 0.3s;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:active {
    color: $color-red;
  }
}
