body {
  @include font;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="range"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.wrap {
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
